#mainBP{
  -fx-background-color: linear-gradient(to right, rgb(149, 69, 224), rgb(65, 65, 158));
  -fx-border-width:0px 0px,0px,2px;
  -fx-border-color: #fbfbff;
}

#header{
  -fx-background-color: linear-gradient(to right, #832bd5, #343488);
}

#centerPane{
  -fx-background-color: linear-gradient(to right, rgb(149, 69, 224), rgb(65, 65, 158));
}
.button{
  -fx-background-color: #4725e1;
  -fx-background-radius:10px;
  -fx-border-width:0px 0px,0px,2px;
  -fx-border-radius:10px;
  -fx-border-color: #fbfbff;
}
.button:focussed{
  -fx-background-color: #7D6CC8;
  -fx-border-color: #CDD1D6;
  -fx-border-radius:10px;
  -fx-border-width:0px 0px,0px,2px;
}
.button:hover{
  -fx-background-color: #A89DDA;
  /*-fx-background-radium:0m;*/
}
.button:pressed{
  -fx-background-color: #907de6;
  -fx-border-color: #381bb7;
  -fx-border-width:0px 0px,0px,2px;
}
.button:selected{
  -fx-background-color: #4925e8;
  -fx-border-color: #978ace;
  -fx-border-width:0px 0px,0px,2px;
}

#fullnameTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#fullnameTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#usernameTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#usernameTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#passwordTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#passwordTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#typeCB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-prompt-text-fill: #ffffff ;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#typeCB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#dobCal{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#dobCal:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#genderCB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#genderCB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#contactTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#contactTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#emailTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#emailTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#addressTA{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#addressTA:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}