.InsertEmp{
-fx-background: bisque;

}

.submit-button{
    -fx-background-color: linear-gradient(to right , #94b3e4, #1d90b3);
    -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}
.submit-button:hover{
    -fx-background-color: linear-gradient(to right , #94b3e4, #1d90b3);
    -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.EmpIDtextbox{
 -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}
.EmpIDtextbox:hover{
    -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: green;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}
.EmpName-txtbox{
   -fx-background-radius:30px;
     -fx-border-radius: 30px;
     -fx-border-width: 2px;
     -fx-border-color: black;
     -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}

.EmpName-txtbox:hover{
-fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: green;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

}

.EmpType_txtbox{
    -fx-background-radius:30px;
      -fx-border-radius: 30px;
      -fx-border-width: 2px;
      -fx-border-color: black;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}
.EmpType_txtbox:hover{
  -fx-background-radius:30px;
      -fx-border-radius: 30px;
      -fx-border-width: 2px;
      -fx-border-color: green;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.EmpContactNo-txtbox{
   -fx-background-radius:30px;
      -fx-border-radius: 30px;
      -fx-border-width: 2px;
      -fx-border-color: black;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}

.EmpContactNo-txtbox:hover{
  -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}
.Email-txtbox{
  -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}

.Email-txtbox:hover{
 -fx-background-radius:30px;
   -fx-border-radius: 30px;
   -fx-border-width: 2px;
   -fx-border-color: black;
   -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}
.EmpId-label{
 -fx-font-size: 16px;
     -fx-font-weight: bold;
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.EmpName-label{
 -fx-font-size: 16px;
     -fx-font-weight: bold;
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.EmpType-label{
  -fx-font-size: 16px;
     -fx-font-weight: bold;
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.EmpContact-label{
 -fx-font-size: 16px;
     -fx-font-weight: bold;
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.EmpEmail-label{
 -fx-font-size: 16px;
     -fx-font-weight: bold;
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.EmpGen-label{
 -fx-font-size: 16px;
     -fx-font-weight: bold;
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


