#mainHeader{
  -fx-background-color: linear-gradient(to right, #504883, #eedbdb);
}

#mainBP{
  -fx-background-color: linear-gradient(to right, #9545e0, #41419e);
  -fx-border-width:0px 0px,0px,2px;
  -fx-border-color: #fbfbff;
}

#header{
  -fx-background-color: linear-gradient(to right, #ab6de4, #343488);
}

#centerPane{
  -fx-background-color: linear-gradient(to right, #9545e0, #41419e);
}
.button{
  -fx-background-color: #4725e1;
  -fx-background-radius:10px;
  -fx-border-width:0px 0px,0px,2px;
  -fx-border-radius:10px;
  -fx-border-color: #fbfbff;
}
.button:focussed{
  -fx-background-color: #7D6CC8;
  -fx-border-color: #CDD1D6;
  -fx-border-radius:10px;
  -fx-border-width:0px 0px,0px,2px;
}
.button:hover{
  -fx-background-color: #A89DDA;
  /*-fx-background-radium:0m;*/
}
.button:pressed{
  -fx-background-color: #907de6;
  -fx-border-color: #381bb7;
  -fx-border-width:0px 0px,0px,2px;
}
.button:selected{
  -fx-background-color: #4925e8;
  -fx-border-color: #978ace;
  -fx-border-width:0px 0px,0px,2px;
}

#fullnameTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#fullnameTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#usernameTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#usernameTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#passwordTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#passwordTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#typeCB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-prompt-text-fill: #ffffff ;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#typeCB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#dobCal{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#dobCal:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#genderCB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#genderCB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#contactTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#contactTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#emailTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#emailTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#addressTA{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:14px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#addressTA:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

.text-area .scroll-pane {
  -fx-background-color: transparent;
  -fx-background-radius:30px;
}
.text-area .scroll-pane .viewport{
  -fx-background-color: transparent;
  -fx-background-radius:30px;
}
.text-area .scroll-pane .content{
  -fx-background-color: transparent;
  -fx-background-radius:30px;
}

/*All Code for datepicker*/

.date-picker .arrow-button {
  -fx-background-radius:30;
	-fx-background-color: linear-gradient(to left, #9545e0, #41419e);
	-fx-text-fill: #ffffff;
}
.date-picker .arrow-button:hover {
	-fx-background-color: linear-gradient(to right, #9545e0, #41419e);
  -fx-text-fill: #ffffff;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: #ffffff;
  -fx-text-fill: #ffffff;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
/*Adding add patient field*/
#PatnFullNameTB{
  -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#patientNameTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#TestTypeCB{
 -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#TestTypeCB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#PatnAgeTB{
 -fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#PatnAgeTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#PatngenderCB{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#PatngenderCB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#PatncontactTB{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#PatncontactTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#PatnaddressTA{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#PatnaddressTA:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}
#CollectionDateDP{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}
#CollectionDateDP:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}



/*Adding Add test page style*/
#testnameTB{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#testnameTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#groupnameTB{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#groupnameTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#unitTB{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#unitTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#rangeTB{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#rangeTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}

#costTB{
-fx-background-color:transparent;
  -fx-font-family:Serif;
  -fx-text-fill: #ffffff;
  -fx-font-size:18px;
  -fx-background-radius:30px;
  -fx-border-radius: 30px;
  -fx-border-width: 2px;
  -fx-border-color: #ffffff;
}

#costTB:hover{
  -fx-background-color:transparent;
  -fx-border-color:linear-gradient(to right, #ffff00, #7e1f1f);;
  -fx-background-size:255 37;
}



