.InsertEmp{
-fx-background: bisque;

}

.submit-button{
    -fx-background-color: linear-gradient(to right , #94b3e4, #1d90b3);
    -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}
.submit-button:hover{
    -fx-background-color: linear-gradient(to right , #94b3e4, #1d90b3);
    -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.EmpIDtextbox{
 -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 102, 255, 0.8), 10, 0, 0, 0);
}