.login-bg{
    -fx-background-color: linear-gradient(to right , #94b3e4, #1d90b3);
    
}
.exit{
    -fx-background-color:#ff0101;
    -fx-background-radius:5px;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}
.exit:hover{
    -fx-background-color:#ca0303;
}
.user-textbox{
    -fx-background-radius:10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.password-textbox{
    -fx-background-radius:10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.login-button{
    -fx-background-color: linear-gradient(to right , #94b3e4, #1d90b3);
    -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-cursor:hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}