.header{
    -fx-background-color:#52438F;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
}
.header2{
    -fx-background-color:#6959a9;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
}
.button{
    -fx-background-color: #6F5CC2;
    -fx-background-radius:30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1.5px;
    -fx-border-color: #ffffff;
}
.button:hover{
    -fx-border-color: #52438F;
}
.button:pressed{
    -fx-background-color: #6a5cb0;
    -fx-border-color: #e6db3e;
    -fx-border-width: 1.5px;
}

#searchBox{
    -fx-background-color: #58507e;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1.5px;
    -fx-border-color: #ffffff;
    -fx-text-fill:white;
}

#filterComboBox{
    -fx-background-color: #58507e;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-width: 1.5px;
    -fx-border-color: #ffffff;
    -fx-text-fill:white;
}
.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-cell-size:20;
    -fx-background-color:#7156DD;
}
.table-view .column-header .label{
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-alignment:CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size:30;
    -fx-alignment:Center_Left;
    -fx-text-fill:#000000;
    -fx-font-weight:bold;
    -fx-alignment:CENTER_LEFT;
}
.table-row-cell:selected{
    -fx-background-color: rgb(127,172,243);
}
.table-row-cell:selected .text{
    -fx-fill: white;
}

.logo{
    -fx-background-radius:100px;
    -fx-border-radius: 100px;
    -fx-border-width: 2px;
    -fx-border-color: green;
}
.user-profile{
    -fx-background-radius:100px;
    -fx-border-radius: 100px;
    -fx-border-width: 2px;
    -fx-border-color: #fcfcff;
}

/*Scroll bar starts here*/